/*========== General  ==========*/

.display-1{
  font-size: 72px;
  margin-top: 3em;
}
.display-4{
  font-size: 46px;
  margin-bottom: 1em;
}
.m-b-1{
  margin-bottom: 1em;
}
.m-b-2{
  margin-bottom: 2em;
}
.m-t-2{
  margin-top: 2em;
}
.m-t-1{
  margin-top:1em;
}
.m-y-2{
  margin-top: 2em;
  margin-bottom: 2em;
}
.p-y-1{
  padding-top: 1em;
  padding-bottom: 1em;
}
.p-y-2{
  padding-top: 2em;
  padding-bottom: 2em;
}
.p-y-4{
  padding-top: 4em;
  padding-bottom: 4em;
}
/*buttons not rounded*/
.btn-group button.btn, .btn-group a.btn, .no-round{
  border-radius: 0;
}
.sections-color{
  color: #938c8c;
}

.smooth-scroll{

}


/*========== Navigation  ==========*/
.navbar{
  margin-bottom: 0;
}
.navbar-default{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: #337ab7;
  color: white;
  border-radius: 3px;
}

/*========== jumbotron  ==========*/

.jumbotron{
  color: white;
  height: 95vh;
  background-color: rgb(109, 145, 163);
  background: url('../img/330H.jpg') top right no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jumbotron h1{
  margin-top: 0;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
.jumbotron p{
  text-transform: capitalize;
}
.jumbotron .container{
  background-color: rgba(217, 208, 208, 0.5);
  padding-bottom: 1em;
  border: 3px solid white;
}


/*========== about  ==========*/



/*========== languages  ==========*/
.col-xs-12 .thumbnail .caption-fluid{
  height: 135px;
  overflow: auto;
}
.languages{
  display: block;
  position: relative;
}
.languages::after {
  content: "";
  background: url('../img/239H.jpg') no-repeat;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index:-1;
}


/*========== signup footer  ==========*/
.signup{
  background-color: white;
  border-top: firebrick solid 1px;
  border-bottom: firebrick solid 1px;
}



/*========== schedule  ==========*/
span.label{
  float: right;
  font-size: 1em;
  position: relative;
  top: 8px;
}


/*========== media query  ==========*/
@media(max-width: 768px) {
  .concept:nth-child(even){
    background-color: #ccc;
  }
}
