<footer>
    <div class="container">
      <section class="row p-y-1">
        <ul class="nav nav-pills navbar-left">
          <li role="presentation"><a href="#">HTML</a></li>
          <li role="presentation"><a href="#">CSS</a></li>
          <li role="presentation"><a href="#">Javascript</a></li>
          <li role="presentation"><a href="#">Bootstrap</a></li>
          <li role="presentation"><a href="#">jQuery</a></li>
          <li role="presentation"><a href="#">Git</a></li>
        </ul>
        <p class="navbar-text navbar-right hidden-xs">All Rights Reserved 2016</a></p>
      </section>
    </div>
</footer>
