<section class="jumbotron text-center">
  <div class="container">
    <h1><span>Web Developement</span></h1>
    <p>The Robot guidance you need to start a web dev career!</p>
    <!-- buttons -->
    <div class="btn-group btn-group-lg m-t-2" role="group" aria-label="...">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Register</button>
      <a class="btn btn-info btn-lg" href="#languages" role="button">Learn more</a>
    </div><!-- /buttons -->
  </div><!-- /container -->
</section><!-- /jumbotron -->
