<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body >

<!-- navigation -->
    <% include partials/content/navigation.ejs %>



<!-- jumbotron -->
    <% include partials/content/jumbotron.ejs %>



<!-- about -->
    <% include partials/content/about.ejs %>



<!-- languages -->
  <% include partials/content/technologies.ejs %>


<!-- schedule -->
  <% include partials/content/schedule.ejs %>




<!-- signup section -->
  <% include partials/content/signup.ejs %>


<!-- footer -->
  <% include partials/content/footer.ejs %>


<!-- modal -->
  <% include partials/content/modal.ejs %>



    <% include partials/template/scripts.ejs %>

  </body>
</html>
