<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>tech page</h1>
    <ul>
      <%= for(var i = 0; i<allresources.length; i++){%>
        <li>allresources[i].title</li>
      <%}%>
    </ul>
  </body>
</html>
